body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    background-image: url("images/portfolio-background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;    
}

.container{
    background-color: #6d6d7e; 
    color: #e0e0e0;
    max-width: 800px;
    margin: 0 auto;
    /* border: 3px solid saddlebrown; */
    /* border-radius: 15px 15px 0px 0px; */    
}

header {
    background: #23325c;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 5px 0;
}

.profile-image {
    max-width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    border: 3px solid #00a8cc;
}

#about{
    font-size: 17.3px;
    font-weight: 500;
    /* text-shadow: 0 0 1px rgb(238, 229, 229); */
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #00a8cc;
    text-decoration: none;
}
.toggle-button {
    background: #00a8cc;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.toggle-button:hover{
    background: #b9d2d8;
    color: #383f41;
    box-shadow: 0px 0px 15px rgba(0, 168, 204, 0.5);
    padding: 12px 17px;
}
section {
    padding: 35px;
}
.project, .tech-stack {
    background: #0f3460;
    margin: 5px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 168, 204, 0.5);
    max-width: 600px;
    color: #fff;
}

.tech-stack{
    margin-top: 100px;
    margin-bottom: 50px;
    height: 200px;
    h2, p{
        margin: 30px 0;
    }
}
footer {
    background: #16213e;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
    border-bottom: 2px solid saddlebrown;
}
.light-mode {
    background-color: #e2e2ec;
    color: #333;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: 100%;
        border-radius: 0;
    }

    header {
        padding: 2px;
        text-align: center;
        width: 90%;
        max-width: 100%;
    }

    .profile-image {
        width: 120px;
        height: 120px;
    }

    nav ul {
        padding: 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .toggle-button {
        width: 75%;
        padding: 12px;
    }

    section {
        padding: 20px;
    }

    .project, .tech-stack {
        max-width: 80%;
        padding: 15px;
    }

    footer {
        text-align: center;
        width: 90%;
        max-width: 100%;
    }
}
